
  <h2>Customer Order Detail</h2> 
  {{#if msg}}
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{msg}}</strong> 
  </div> 
  {{/if}}
   {{#if prodetail}}    
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Image</th>
        <th>Order ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Address</th>
        <th>Customer Id</th>
        <th>Status</th>
        <th>Ordered On</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each prodetail}}
      <tr>
      {{#each data}}
        <td ><img height="50" weidth="50" src="{{this.ImgAddress}}" alt="img not found"></td>
        {{/each}} 
        <td>{{this._id}}</td>
        <td>{{this.Pname}}</td>
        <td >{{this.Price}}</td>
        <td >{{this.Quantity}}</td>
        <td>{{this.Total}}</td>
        <td>{{this.Address}}</td>
        <td>{{this.CID}}</td>
        <td>{{this.Status}}</td>
        <td>{{this.datetime}}</td>
        <td><a href="/dispatchproduct?id={{this._id}}"onclick="return confirm('Do you want to dispatch?')">Dispatch</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}

<style>
  h2{
    text-align: center;
  color:white;
  font-size:40px;
  font-weight: bold;
  text-shadow: 0 6px 4px #95ef67,
        -3px -5px 4px #ff2192,
         3px -5px 4px #ffe200;
}
body{
  background-color: #669990;
}

thead{
  color:#ffff66;
  font-size:20px;
  background-color: #ff471a;
}
th{text-align: center;}
td{font-size: 18px;
color: white;
text-align: center;
}

</style>
</body>
</html>
